# Entorno virtual
venv/
.env

# Archivos de configuración del sistema
.DS_Store
*.swp
*.swo

# Archivos de logs
*.log

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales o de editor
*.bak
*.tmp
*.orig
*.~ 
*.autosave

# Archivos específicos de VSCode
.vscode/

# Archivos de distribución
dist/
build/
*.egg-info/